@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: #f5f5f5 0.2s ease-in-out;
}

.main {
    background-image: url('https://raw.githubusercontent.com/Sas2k/SongTrack/main/static/background.svg');
}

.footer {
    background-color: #e4e4e4;
    padding: 1.5rem 0;
}

a {
    color: #333;
    text-decoration: none;
}

#duration {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
}

#current {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .block:not(:last-child) {
        margin-bottom: 1rem;
    }

    .text-bar {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
    }
}