<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SongTrack</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href={{ url_for('static', filename='static/css/style.css') }}>
    </head>
    <body>
        <div class="hero is-primary">
            <div class="hero-body">
                <h1 class="title">SongTrack</h1>
            </div>
        </div>
        <br/>
        <div class="container">
            <h1>How did we get here??</h2>
            <h1><a href="/">Here is a way <strong>Back</strong></a></h1>
        </div>
        <script src={{ url_for('static', filename='static/js/index.js') }}></script>
    </body>
</html>