<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SongTrack</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="hero is-primary">
            <div class="hero-body">
                <h1 class="title"><a href="/">SongTrack</a></h1>
            </div>
        </div>
        <br/>
        <div class="container is-centered">
            <h1 class="title">404 Page Not Found</h1>
            <img src="https://media.tenor.com/nl2ovUbcC5IAAAAC/waiting-for-something-waiting-for-something-to-happen.gif" alt="Waiting for something to happen?" width="500" height="500"/>
            <h1><a href="/">Here is a way <strong>Back</strong></a></h1>
        </div>
    </body>
    <footer>
        <div class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>SongTrack</strong> by <a href="https://github.com/Sas2k">Sas2k 2022</a>. <br>
                    <strong><a href="https://github.com/Sas2k/SongTrack">Source Code</a></strong> <br>
                    <em>Made with ♥</em>
                </p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/egg.js/1.0/egg.min.js"></script>
    <script src={{ url_for('static', filename='js/index.js') }}></script>
    <script>
        function Func(func, message){
            let egg = new Egg();
            egg
                .addCode("up,up,down,down,left,right,left,right,b,a", function() {
                    func();
            })
                .addHook(function(){
                    console.log(message);
            }).listen();
        };

        function SomethingInTheScript() {
            alert("Welcome to whitespace, you have been here for as long as you can remember.");
            //change the Primary color to white and all text to Black and bold
            document.body.style.backgroundColor = "white";
            document.body.style.color = "black";
            document.body.style.fontWeight = "bold";
            document.getElementsByClassName("footer")[0].style.backgroundColor = "white";
            document.getElementsByClassName("hero")[0].style.backgroundColor = "white";
            document.getElementsByClassName("container")[0].style.backgroundColor = "white";
            document.getElementsByClassName("hero-body")[0].style.backgroundColor = "white";
            document.getElementsByClassName("title")[0].style.color = "black";
        };
        Func(SomethingInTheScript, "You've encountered a Something In the Script!")
    </script>
</html>