<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SongTrack</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="hero is-primary">
            <div class="hero-body">
                <h1 class="title"><a href="/">SongTrack</a></h1>
                <a href="/about">About Page (Wait you're already here)</a> <br>
                <a href="/list"><strong>List of Songs</strong></a>
            </div>
        </div>
        <div class="section secondary-main">
            <div class="container">
                <h2 class="subtitle">About</h2>
                <p>This website is created and maintained by <a href="https://github.com/Sas2k">Sas2k</a></p>
                <p>This Music Player plays all of my favorite OSTs and Music.</p>
                <p>It is made with <a href="https://flask.palletsprojects.com/en/">Flask</a> and <a href="https://bulma.io/">Bulma</a></p>
                <p>It is hosted on <a href="https://vercel.com/">Vercel</a></p>
                <p>It is open source and you can find the source code <a href="https://github.com/Sas2k/SongTrack">here</a></p>
            </div>
        </div>
    </body>
    <footer>
        <div class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>SongTrack</strong> by <a href="https://github.com/Sas2k">Sas2k 2022</a>. <br>
                    <strong><a href="https://github.com/Sas2k/SongTrack">Source Code</a></strong> <br>
                    <em>Made with ♥</em>
                </p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/egg.js/1.0/egg.min.js"></script>
    <script>
        function Func(func, message){
            let egg = new Egg();
            egg
                .addCode("up,up,down,down,left,right,left,right,b,a", function() {
                    func();
            })
                .addHook(function(){
                    console.log(message);
            }).listen();
        };

        Func(function(){
            alert("You read the about page!");
        }, "why are you reading the dev console?");
    </script>
</html>