<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SongTrack</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% set TrackNum = TrackNo | int %}
    </head>
    <body>
        <div class="hero is-primary">
            <div class="hero-body">
                <h1 class="title"><a href="/">SongTrack</a></h1>
                <p>A player that plays my favorite songs. To get random songs click the shuffle button</p>
                <p>◀ will go to the previous song.</p>
                <p>▶ will go to the next song.</p>
                <a href="/songs/{{ TrackNum }}/"><strong>Track #{{ TrackNum }}</strong></a>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="block">
                    <div class="columns">
                        <div class="column is-one-quarter">
                            <figure class="image is-128x128">
                                <!-- <img src={{ url_for("static", filename=Picture) }}> --> <!-- For Development -->
                                <img src="{{ Picture }}"> <!-- For Production -->
                            </figure>
                        </div>
                        <audio id="audio" controls style="display: none;">
                            <!-- <source src={{ url_for("static", filename=File) }} type="audio/mp3"/> --> <!-- For Development -->
                            <source src="{{ File }}" type="audio/mp3"> <!-- For Production -->
                            Your browser does not support the audio element.
                        </audio>
                        <div class="column">
                            <h1 class="title">{{ Title }}</h1>
                            <p class="subtitle">{{ Artist }}</p>
                            <p class="subtitle">Track: #{{TrackNum}}</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <progress id="progress" class="progress is-primary" value="0" max="100">0%</progress>
                            <div class="columns text-bar">
                                <div class="column">
                                    <p id="current">0:00</p>
                                </div>
                                <div class="column">
                                    <p id="duration">0:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="buttons">
                        <a href="/songs/{{ TrackNum - 1 }}/" class="button is-primary">
                            <span class="icon"><i class="fas fa-arrow-left"></i></span>
                        </a>
                        <button class="button is-primary" onclick="play()">
                            <span class="icon"><i id="stopper" class="fas fa-play"></i></span>
                        </button>
                        <a href="/songs/{{ TrackNum + 1 }}/" class="button is-primary">
                            <span class="icon"><i class="fas fa-arrow-right"></i></span>
                        </a>
                        <a href="/songs/{{ range(1, 14) | random }}/" class="button is-primary">
                            <span class="icon"><i class="fas fa-random"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <footer>
        <div class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>SongTrack</strong> by <a href="https://github.com/Sas2k">Sas2k 2022</a>. <br>
                    <strong><a href="https://github.com/Sas2k/SongTrack">Source Code</a></strong> <br>
                    <em>Made with ♥</em>
                </p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/egg.js/1.0/egg.min.js"></script>
    <script src={{ url_for('static', filename='js/index.js') }}></script>
    <script>
        let egg = new Egg();
        egg
            .addCode("up,up,down,down,left,right,left,right,b,a", function() {
                alert("You found the Konami Code!");
        })
            .addHook(function(){
                console.log("Konami Code Called :D");
        }).listen();

        let MusicInfo = [
            {"info": "{{ TrackNum }}"},
            {"info": "{{ Title }}"},
            {"info": "{{ Artist }}"},
            {"info": "{{ File }}"},
            {"info": "{{ Picture }}"}
        ]
        console.table(MusicInfo)
    </script>
</html>